<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Monstrobo AI</title>
    </head>
    <body>
        <h1>Enter a Question Below</h1>
        <form method="POST">
            <input name="question" style="height:80px; width:400px; font-size:16pt;">
            <input type="submit">
        </form>
        <div style="margin-top:80px">
            <h3>
                <a href="/">BACK</a>
            </h3>
        </div>
        <h2>AI Response</h2>
        <h3 id="ai-res">{{res}}</h3>
    </body>
</html>